@charset "UTF-8";
/*--------------------------------------------------*/
/* 基礎CSS */
/*--------------------------------------------------*/
body { overflow-x: hidden; }

/*--------------------------------------------------*/
/* ライブラリ等で追加された要素につけるCSS */
/*--------------------------------------------------*/
.swal-footer { background-color: #CBE6F3; margin-top: 32px; border-top: 1px solid #E9EEF1; overflow: hidden; }

/* その他 */
@keyframes show1 { 0% { transform: translate(0, 2em); opacity: .5; }
  100% { transform: translate(0, 0); opacity: 1; } }
/*--------------------------------------------------*/
/* その他 */
/*--------------------------------------------------*/
.box-center { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.blue-gra { color: white; background: -webkit-linear-gradient(#000046 0%, #1CB5E0 50%, white 100%); background: -o-linear-gradient(#000046 0%, #1CB5E0 50%, white 100%); background: linear-gradient(#000046 0%, #1CB5E0 50%, white 100%); animation: huerotator 3s infinite alternate; }

.wave { opacity: .1; position: absolute; top: 3%; left: 10%; background-color: white; width: 100%; height: 200vh; margin-left: -50vw; margin-top: -100vh; transform-origin: 50% 48%; border-radius: 100%; animation: drift 3000ms infinite linear; z-index: 10; }

.wave.wave2 { animation: drift 7000ms infinite linear; opacity: .1; background-color: red; }

.wave.wave3 { animation: drift 5000ms infinite linear; background-color: black; }

@keyframes drift { from { transform: rotate(0deg); }
  from { transform: rotate(360deg); } }
/* JSで追加される要素のCSS
*/
/* モーダルウィンドウコンテンツのCSS ---------------------*/
.mordal-content { display: none; position: fixed; width: 50%; padding: 1em 2em; background: #fff; border-radius: 10px; z-index: 999; }

#mordal-overlay { /* 参考文献:https://syncer.jp/jquery-mordal-window */ display: none; position: fixed; top: 0; left: 0; width: 100%; height: 120%; /* スマホ対策 */ background-color: rgba(0, 0, 0, 0.75); z-index: 998; }

/*--------------------------------------------------*/
/* ゲーム部分本体のCSS */
/*--------------------------------------------------*/
#heart-increase-click { position: absolute; bottom: -1em; right: -5em; margin-left: 2em; padding: .5em 1em; font-size: .5em; color: black; border-radius: 100px; background-color: rgba(254, 254, 254, 0.5); transition: all .5s; }

/*--------------------------------------------------*/
/* 基礎CSS */
/*--------------------------------------------------*/
body { font-family: "游ゴシック Light"; font-size: 24px; }

a { color: white; text-decoration: none; transition: .5s; }

a:hover { opacity: .5; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; z-index: 100; }

ul { list-style: none; }

.con { position: relative; padding: 5em; width: 100%; height: 100vh; background-color: #bbb; }
.con h2 { width: 80%; }
.con h2 .main { padding-left: 1em; font-size: 1.7em; border-bottom: 1px solid black; }
.con h2 .sub { padding-right: 1em; font-size: 0.7em; text-align: right; }
.con .tri { position: absolute; top: 0; width: 0; height: 0; border: 50vh solid transparent; border-top: 100vw solid #aaa; border-bottom: none; background-color: #888; }
.con .tri.right { right: 0; transform: rotate(90deg); }
.con .tri.left { left: 0; transform: rotate(-90deg); }
.con .right { text-align: right; }
.con .des { position: absolute; left: 35%; width: 40%; }

/*--------------------------------------------------*/
/* 各コンテンツ毎 */
/*--------------------------------------------------*/
.menu { position: absolute; bottom: 5vh; left: 2vw; font-size: .8em; color: white; line-height: 1.5em; z-index: 100; }

#con1 { height: 150vh; padding: 0; }
#con1 .title { position: absolute; top: 20vh; }
#con1 .des { position: absolute; top: 50vh; text-align: center; }
#con1 .des p { line-height: 1.2em; }
#con1 .img { position: absolute; bottom: 5vh; }
#con1 .img .img1 { height: 50vh; }

/*# sourceMappingURL=index.css.map */
