@charset "UTF-8";
/*
Sass利用法： コマンドプロンプトを起動 このディレクトリ直上のディレクトリまで移動 「sass --watch sass:css --style compact」 後は放置で自動的にいける

Sass手引き： ■セレクタ、プロパティの入れ子 ■「&(親)」セレクタ ■セレクタの継承(「@extend セレクタ」) ■変数(「$変数名: 値;」) ■Mixin ・引数なし： @mixin Mixinの名前 { 中身… } ・引数あり @mixin Mixinの名前(引数１,引数２…){ 中身… } ・引数あり（デフォルト値付き） @mixin Mixinの名前(引数１:デフォルト値,引数２:デフォルト値…){ 中身… } ■@import ■partials
*/
/*--------------------------------------------------*/
/* 基礎CSS */
/*--------------------------------------------------*/
@font-face { font-family: "GN-きんいろサンセリフ 太字"; src: url("../font/GN-Kin-iro_SansSerif.ttf"); }
html { width: 100%; font-family: "GN-きんいろサンセリフ 太字"; font-size: 32px; }

body { width: 100%; height: 100%; margin: 0; padding: 0; z-index: 0; }

body:after { /*擬似要素をつくる*/ position: fixed; /*固定配置*/ top: 0; left: 0; /*左上に固定*/ width: 100%; height: 100%; /*画面全体を覆う*/ content: ""; background: -webkit-linear-gradient(#000046 0%, #1CB5E0 100%); background: -o-linear-gradient(#000046 0%, #1CB5E0 100%); background: linear-gradient(#000046 0%, #1CB5E0 100%); animation: huerotator 3s infinite alternate; z-index: -100; }

@keyframes huerotator { 0% { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg); }
  100% { -webkit-filter: hue-rotate(-20deg); filter: hue-rotate(-20deg); } }
ul, li { margin: 0; padding: 0; }

ul { list-style: none; }

ul.side-by-side li { display: inline-block; }

.center { text-align: center; }

/*--------------------------------------------------*/
/* ゲーム部分本体のCSS */
/*--------------------------------------------------*/
/*------------------------*/
/* ヘッダー(上部)部分のCSS */
/*------------------------*/
header { z-index: 100; }
header .header-icon { margin: 8px; }
header .header-icon-img { height: 32px; margin-right: 8px; }
header #gauge { top: 1em; left: 20px; position: fixed; font-size: 30px; color: white; }
header #gauge .increase { font-size: .6em; }
header #gauge #heart { position: relative; }
header #control-bar { top: 1em; right: 20px; position: fixed; }

/*------------------------*/
/* センタービジュアル(中央)部分のCSS */
/*------------------------*/
main { position: relative; width: 100%; height: 800px; background-color: rgba(254, 254, 254, 0.3); }

#Airy { position: absolute; top: 200px; width: 100%; text-align: center; }

#Airy-img { height: 330px; }

#Mily { position: absolute; top: 300px; width: 100%; text-align: center; }

#Mily-img { height: 150px; }

#Mily-tap { position: absolute; bottom: 0px; right: 0px; width: 100px; background-color: #aaa; }

/*------------------------*/
/* メイン操作(下部)部分のCSS */
/*------------------------*/
/* タブ表示のCSSここから */
#mope { top: 800px; width: 95%; height: 35%; position: absolute; margin: 20px; }
#mope #mope-tab { margin-bottom: 10px; }
#mope #mope-tab li { padding: 10px 20px; }
#mope .tab-label { position: relative; background-color: rgba(255, 255, 255, 0.5); border-radius: 5px; }
#mope .select { background-color: rgba(255, 255, 255, 0.8); }
#mope .select:before { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -20px; border: 10px solid transparent; border-top: 10px solid rgba(255, 255, 255, 0.8); }

#mope-field { margin-top: 20px; }
#mope-field .con { background-color: rgba(255, 255, 255, 0.7); }
#mope-field .con:hover { background-color: rgba(255, 255, 255, 0.8); }
#mope-field .con:not(:first-child) { margin-top: 10px; }
#mope-field .lv { width: 15%; padding: 10px; text-align: center; }
#mope-field .des { width: 50%; padding: 10px; }
#mope-field .des-des { margin: .5em; font-size: .7em; }
#mope-field .nowEH { margin-top: .5em; font-size: .8em; text-align: right; }
#mope-field .up { width: 20%; padding: 10px; font-size: .8em; text-align: center; }
#mope-field .up:hover { color: #555; }

.hide { display: none; }

/* タブ表示のCSSここまで */
/*------------------------*/
/* フッター(下部)部分のCSS */
/*------------------------*/
footer { bottom: 0; position: fixed; width: 100%; z-index: 100; }
footer .btn { width: 45%; margin-left: 10px; margin-bottom: 10px; padding: 10px; text-align: center; font-size: 1.2em; background-color: rgba(255, 255, 255, 0.8); }

/*--------------------------------------------------*/
/* デバッグ用CSS */
/*--------------------------------------------------*/
.bgv { background-color: white; }

/*--------------------------------------------------*/
/* smart.css  画面の横幅が640pxまで */
/*--------------------------------------------------*/
@media only screen and (max-width: 640px) {     /*     img{ max-width: 100%; height: auto; width: auto; }
*/
  /* ～以下、画面の横幅が640pxまでの場合のスタイル記入～ */ }
/* JSで追加される要素のCSS
*/
/*--------------------------------------------------*/
/* ゲーム部分本体のCSS */
/*--------------------------------------------------*/
#heart-increase-click { position: absolute; bottom: -1em; right: -5em; margin-left: 2em; padding: .5em 1em; font-size: .5em; color: black; border-radius: 100px; background-color: rgba(254, 254, 254, 0.5); transition: all .5s; }

/* 基礎タグにつけるCSS ---------------------*/
body { overflow-x: hidden; }

/* ライブラリ等で追加された要素につけるCSS -------*/
.swal-footer { background-color: #CBE6F3; margin-top: 32px; border-top: 1px solid #E9EEF1; overflow: hidden; }

/* その他 */
@keyframes show1 { 0% { transform: translate(0, 2em); opacity: .5; }
  100% { transform: translate(0, 0); opacity: 1; } }
/* その他--------------------------------------- */

/*# sourceMappingURL=index.css.map */
