@charset "UTF-8";
/*
Sass利用法： コマンドプロンプトを起動 このディレクトリ直上のディレクトリまで移動 「sass --watch sass:css --style compact」 後は放置で自動的にいける

Sass手引き： ■セレクタ、プロパティの入れ子 ■「&(親)」セレクタ ■セレクタの継承(「@extend セレクタ」) ■変数(「$変数名: 値;」) ■Mixin ・引数なし： @mixin Mixinの名前 { 中身… } ・引数あり @mixin Mixinの名前(引数１,引数２…){ 中身… } ・引数あり（デフォルト値付き） @mixin Mixinの名前(引数１:デフォルト値,引数２:デフォルト値…){ 中身… } ■@import ■partials
*/
/*--------------------------------------------------*/
/* 基礎CSS */
/*--------------------------------------------------*/
@font-face { font-family: "GN-きんいろサンセリフ 太字"; src: url("../font/GN-Kin-iro_SansSerif.ttf"); }
html { width: 100%; font-family: "GN-きんいろサンセリフ 太字"; font-size: 32px; }

body { width: 100%; height: 100%; margin: 0; padding: 0; z-index: 0; }

body:after { /*擬似要素をつくる*/ position: fixed; /*固定配置*/ top: 0; left: 0; /*左上に固定*/ width: 100%; height: 100%; /*画面全体を覆う*/ content: ""; background: -webkit-linear-gradient(#000046 0%, #1CB5E0 100%); background: -o-linear-gradient(#000046 0%, #1CB5E0 100%); background: linear-gradient(#000046 0%, #1CB5E0 100%); animation: huerotator 3s infinite alternate; z-index: -100; }

@keyframes huerotator { 0% { -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg); }
  100% { -webkit-filter: hue-rotate(-20deg); filter: hue-rotate(-20deg); } }
ul, li { margin: 0; padding: 0; }

ul { list-style: none; }

ul.side-by-side li { display: inline-block; }

/*--------------------------------------------------*/
/* ゲーム部分本体のCSS */
/*--------------------------------------------------*/
/*------------------------*/
/* ヘッダー(上部)部分のCSS */
/*------------------------*/
#header { z-index: 100; }

#gauge { top: 30px; left: 20px; position: fixed; font-size: 30px; color: white; }
#gauge .increase { font-size: .6em; }

.header-icon { margin: 8px; }

.header-icon-img { height: 32px; margin-right: 8px; }

#control-bar { top: 30px; right: 20px; position: fixed; }

/*------------------------*/
/* センタービジュアル(中央)部分のCSS */
/*------------------------*/
main { width: 100%; height: 700px; background-color: #rgba 255, 255, 255, 0.5; }

#Airy { top: 200px; width: 100%; position: absolute; text-align: center; }

#Airy-img { height: 330px; }

#Mily { top: 300px; width: 100%; position: absolute; text-align: center; }

#Mily-img { height: 150px; }

/*------------------------*/
/* メイン操作(下部)部分のCSS */
/*------------------------*/
.tab { overflow: hidden; }
.tab li.select { background: black; }

#mope { top: 800px; width: 95%; height: 35%; position: absolute; margin: 20px; }

#mope-tab { /* タブ表示のCSSここから */ }
#mope-tab .tab-label { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; -webkit-transition-duration: .2s; transition-duration: .2s; }
#mope-tab .tab-label:hover { color: #666; }

#mope-tab { margin-bottom: 10px; }
#mope-tab li { padding: 10px 20px; }

#mope-field { margin-top: 20px; }
#mope-field .con:not(:first-child) { margin-top: 10px; }
#mope-field .lv { width: 15%; padding: 10px; }
#mope-field .des { width: 50%; padding: 10px; }
#mope-field .up { width: 20%; padding: 10px; font-size: 20px; }

.hide { display: none; }

/* タブ表示のCSSここまで */
/*------------------------*/
/* フッター(下部)部分のCSS */
/*------------------------*/
footer { bottom: 0; position: fixed; width: 100%; z-index: 100; }

#footer-control li { width: 45%; margin-left: 10px; margin-bottom: 10px; padding: 10px; text-align: center; font-size: 40px; }

/*--------------------------------------------------*/
/* デバッグ用CSS */
/*--------------------------------------------------*/
.bgv { background-color: white; opacity: .8; }

/*--------------------------------------------------*/
/* smart.css  画面の横幅が640pxまで */
/*--------------------------------------------------*/
@media only screen and (max-width: 640px) {     /*     img{ max-width: 100%; height: auto; width: auto; }
*/
  /* ～以下、画面の横幅が640pxまでの場合のスタイル記入～ */ }
/* JSで追加される要素のCSS
*/
/*--------------------------------------------------*/
/* ゲーム部分本体のCSS */
/*--------------------------------------------------*/
#heart-increase-click { margin-left: 2em; padding: .5em 1em; font-size: .5em; color: black; border-radius: 100px; background-color: rgba(254, 254, 254, 0.5); transition: all .5s; }

.main-heart-des { position: absolute; width: 6em; padding: .5em; background-color: rgba(0, 0, 0, 0.5); font-size: .5em; color: white; z-index: 110; transition: all .3s; }

/* 基礎タグにつけるCSS ---------------------*/
body { overflow-x: hidden; }

/* ライブラリ等で追加された要素につけるCSS -------*/
/* その他 */
@keyframes show1 { 0% { transform: translate(0, 2em); opacity: .5; }
  100% { transform: translate(0, 0); opacity: 1; } }
/* その他--------------------------------------- */

/*# sourceMappingURL=index.css.map */
