@charset "utf-8";

/*
    JSで追加される要素のCSS
*/

/*--------------------------------------------------*/

/* ゲーム部分本体のCSS */

/*--------------------------------------------------*/

#heart-increase-click {
    position: absolute;
    bottom: -1em;
    right: -5em;
    margin-left: 2em;
    padding: .5em 1em;
    font-size: .5em;
    color: black;
    border-radius: 100px;
    background-color: rgba(254, 254, 254, 0.5);
    transition: all .5s;
}

//#auto-save {
//    position: fixed;
//    width: 100%;
//    top: 0;
//    padding: .2em;
//    color: white;
//    background-color: rgba(120, 230, 255, 0.1);
//}
//
//#auto-save.select {
//    color: black;
//    background-color: rgba(120, 230, 255, 1);
//    opacity: .5;
//}