@charset "utf-8";
@import "common";
@import "cssjs";
/* 基礎タグにつけるCSS ---------------------*/

body {
    overflow-x: hidden;
}

/* ライブラリ等で追加された要素につけるCSS -------*/

/* その他 */

@keyframes show1 {
    0% {
        transform: translate(0, 2em);
        opacity: .5;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}


/* その他--------------------------------------- */
